# 이 파일은 Git이 무시해야 할 파일과 디렉토리를 지정합니다.

# 컴파일된 출력물
/dist
/node_modules
/build

# 로그 파일
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 운영 체제 관련 파일
.DS_Store

# 테스트 관련 파일
/coverage
/.nyc_output

# IDE 및 편집기 관련 파일
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code 관련 파일
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 환경 변수 파일
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# 임시 디렉토리
.temp
.tmp

# 런타임 데이터
pids
*.pid
*.seed
*.pid.lock

# 진단 보고서 (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
